awscli==1.14.57
certifi==2018.10.15
decorator==4.3.0
joblib==0.12.5
mca==1.0.3
mkl-fft==1.0.6
mkl-random==1.0.1
networkx==2.2
numpy==1.15.3
pandas==0.23.4
patsy==0.5.1
pyasn1==0.4.2
pyspark==2.3.0
python-dateutil==2.7.5
pytz==2018.7
rsa==3.4.2
scikit-learn==0.20.0
scikit-optimize==0.5.2
scipy==1.1.0
six==1.11.0
statsmodels==0.9.0
tqdm==4.28.1
