awscli==1.14.57
certifi==2018.10.15
decorator==4.3.0
joblib==0.11
mca==1.0.3
networkx==2.0
numpy==1.14.2
pandas==0.23.4
patsy==0.5.1
pyasn1==0.4.2
pyspark==2.3.0
python-dateutil==2.7.5
pytz==2018.7
rsa==3.4.2
scikit-learn==0.19.1
scikit-optimize==0.5.2
scipy==1.0.0
six==1.11.0
statsmodels==0.8.0
tqdm==4.19.5
